:root {
  --wit: #F9ECD0;
  --lichtgroen: #528446;
  --donkergroen: #153B0D;
  --rood: #962C19;
}

@font-face {
  font-family: "Musketeer Regular";
  font-style: normal;
  src: url("../fonts/Musketeer-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Musketeer Bold";
  src: url("../fonts/Musketeer-Bold.woff") format("woff");
  font-display: swap;
}

body {
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  font-family: Arial;
  background-color: var(--lichtgroen);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/img/planten.webp");
}

a {
  font-family: Musketeer Bold, serif;
  text-decoration: none;
  color: black;
}

h1 {
  display: none;
}

h1 a {
  display: none;
}

h2 {
  font-size: 5em;
  font-family: Musketeer Bold, serif, Bold;
  color: var(--rood);
  margin: auto;
}

p {
  font-size: 1.1em;
  line-height: 1.7;
  color: black;
}

.sticky {
  z-index: 5;
  width: 100%;
  position: fixed;
  height: .1em;
  top: 0;
  margin-left: -2em;
  margin-bottom: -40px;
}

.wrapper {
  position: absolute;
  top: 6em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.muziek-wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.muziek-wrapper iframe {
  border-radius: 12px;
  width: 49%;
  height: 380px;
  border: none;
}

nav a {
  color: var(--wit);
  font-size: 1.2em;
  width: 20%;
  display: inline-block;
  padding: .75em;
  margin: auto;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

nav a:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: RGBA(150, 44, 25, 0.2);
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

nav a:hover:after {
  width: 100%;
}

ul li {
  display: inline;
}

.pagina a {
  border-bottom: 3px solid var(--rood);
  background-color: RGBA(150, 44, 25, 0.2);
  font-family: Musketeer Bold;
}

.content {
  margin: auto;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 65%;
  background-color: RGBA(249, 236, 208, 0.7);
  padding: 1em 5em 1em 5em;
  margin-bottom: 2em;
  margin-top: -.8em;
}

.socialbtn-wrapper {
  width: 160px;
  display: flex;
  justify-content: space-around;
  margin: 1.2em auto;
}

.socialbtn {
  filter: invert(45%) sepia(24%) saturate(936%) hue-rotate(63deg) brightness(94%) contrast(78%);
}

.socialbtn:hover {
  filter: invert(18%) sepia(29%) saturate(5143%) hue-rotate(350deg) brightness(103%) contrast(92%);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  transition: all .5s ease;
  border: 3px solid var(--wit);
  line-height: 1;
  font-size: 17px;
  background-color: var(--lichtgroen);
  width: 165px;
  outline: none;
  color: var(--wit);
}

.btn:hover {
  background-color: var(--rood);
}

.btn a {
  color: var(--wit);
  display: block;
  padding: .7em .5em;
  font-family: Musketeer Bold, sans-serif;
}

.btn:first-child {
  margin-right: .8em;
}

.header {
  margin-bottom: 1em;
  margin-left: 2em;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contact {
  margin-bottom: 1em;
  margin-left: .8em;
}

@media only screen and (max-width: 1500px) {
  .muziek-wrapper iframe {
    height: 300px;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-image: url("/img/planten-ipad.webp");
  }

  .header {
    width: 80%;
  }

  .muziek-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .muziek-wrapper iframe {
    width: 100%;
    height: 420px;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 960px) {
  .muziek-wrapper iframe:last-child {
    height: 350px
  }
}

@media only screen and (max-width: 726px) {
  body {
    background-image: url("/img/planten-mobile.webp");
  }

  nav a {
    display: block;
    width: 90%;
    border: 3px solid var(--wit);
  }

  .pagina a {
    border: 3px solid var(--rood);
  }

  .sticky {
    height: 5.1em;
    margin-left: -1.3em;
  }

  .wrapper {
    top: 8.2em;
  }

  .content {
    width: 80%;
    padding: 1em 3em 1em 3em;
  }

  .header {
    margin-top: 1em;
    margin-left: 1em;
  }
}

@media only screen and (max-width: 560px) {
  h2 {
    font-size: 6em;
  }

  .content {
    width: 80%;
    padding: 1em;
  }

  .muziek-wrapper iframe:last-child {
    height: 250px
  }
}

@media only screen and (max-width: 435px) {
  .download:first-child {
    margin-bottom: .7em;
    margin-right: 0;
  }

  .muziek-wrapper iframe:last-child {
    height: 200px
  }

  h2 {
    font-size: 5em;
  }
}

@media only screen and (max-width: 380px) {
  h2 {
    font-size: 4em;
  }
}
